/* Nền tổng thể */
body {
    background-color: #f6f1eb;       
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Khung login */
.login-container {
    background-color: #fff;
    padding: 35px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 380px;
    text-align: center;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
    animation: fadeIn 0.4s ease-in-out;
}

/* Tiêu đề */
.login-container h2 {
    margin-bottom: 25px;
    color: #9c736a;
    font-size: 26px;
    font-weight: 700;
}

/* Form group */
.form-group {
    margin-bottom: 18px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    color: #5a4a42;
    font-weight: 600;
}

/* Ô input */
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d5c8b8;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    background-color: #faf8f6;
}

.form-group input:focus {
    border-color: #7b5940;
    box-shadow: 0 0 0 3px rgba(139, 69, 19, 0.18);
    outline: none;
}

/* Nút đăng nhập */
button[type="submit"] {
    background-color: #a9825a;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: 0.25s ease;
}

button[type="submit"]:hover {
    background-color:#a9825a;
}

/* Thông báo lỗi */
.error-message {
    background-color: #ffe9e9;
    color: #b71c1c;
    padding: 12px;
    border-left: 4px solid #b71c1c;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 15px;
}

.login-link { margin-top: 15px; font-size: 14px; text-align: center; }
.login-link a { color: #956d51 !important; text-decoration: none; font-weight: bold;}
.login-link a:hover { text-decoration: underline; }